= simple_form_for @user do |f|
  .row
    .col-md-12
    
      = f.input :email
      = f.input :password
      = f.input :first_name
      = f.input :last_name
      
  = f.button :submit, class: 'btn btn-success'