%h2
  Api Users
  - if @current_role == "admin"
    = link_to 'New Api User', new_api_user_path, class: 'btn btn-primary float-right'
.clearfix
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Email
    %tbody
      - @apiusers.each do |apiuser|
        %tr
          %td
            = apiuser.email
          %td
            .d-flex.justify-content-end
              - if @current_role == "admin"
                = link_to 'Edit', edit_api_user_path(apiuser), class: 'btn btn-sm btn-outline-info mr-2'
                = link_to 'Delete', api_user_path(apiuser), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
.d-flex.justify-content-center.mt-3
  = paginate @apiusers