%h2
  Projects
  = link_to 'New project', new_project_path, class: 'btn btn-primary float-right'
.clearfix
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Custom id
        %th Shorthandle
        %th Name
        %th Owner
        %th Parent project
        %th Start
        %th End
        %th
    %tbody
      - @projects.each do |project|
        %tr
          %td
            = project.custom_id
          %td
            = project.shorthandle
          %td
            = project.name
          %td
            = project.user.email
          %td
            - if !project.parent_id.nil?
              = @projects.find(project.parent_id).shorthandle
          %td
            = project.start_datetime
          %td
            = project.end_datetime
          %td
            .d-flex.justify-content-end
              = link_to 'Edit', edit_project_path(project), class: 'btn btn-sm btn-outline-info mr-2'
              = link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
.d-flex.justify-content-center.mt-3
  = paginate @projects