= simple_form_for @secret do |f|
  .row
    .col-md-12
    
      = f.input :name
      = f.input :content
      = f.association :environment, label_method: :shorthandle
      
  = f.button :submit, class: 'btn btn-success'