%h2
  Secrets
  = link_to 'New secret', new_secret_path, class: 'btn btn-primary float-right'
.clearfix
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th belongs to environment
        %th
    %tbody
      - @secrets.each do |secret|
        %tr
          %td
            = secret.name
          %td
            = link_to secret.environment.shorthandle, edit_environment_path(secret.environment)
          %td
            .d-flex.justify-content-end
              = link_to 'Edit', edit_secret_path(secret), class: 'btn btn-sm btn-outline-info mr-2'
              = link_to 'Delete', secret_path(secret), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
.d-flex.justify-content-center.mt-3
  = paginate @secrets