%h2
  Environments
  = link_to 'New environment', new_environment_path, class: 'btn btn-primary float-right'
.clearfix
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Shorthandle
        %th Name
        %th belongs to project
        %th
    %tbody
      - @environments.each do |environment|
        %tr
          %td
            = environment.shorthandle
          %td
            = environment.name
          %td
            = link_to environment.project.shorthandle, edit_project_path(environment.project)
          %td
            .d-flex.justify-content-end
              = link_to 'Edit', edit_environment_path(environment), class: 'btn btn-sm btn-outline-info mr-2'
              = link_to 'Delete', environment_path(environment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
.d-flex.justify-content-center.mt-3
  = paginate @environments